:root {
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
}

/* light dark mode, used for switching */
[data-theme="light"] {
    /* defaults for light mode */
    --text: var(--base00);
    --textHL: var(--base01);
    --textLL: var(--base1);
    --background: var(--base3);
    --backgroundHL: var(--base2);
}

[data-theme="dark"] {
    --text: var(--base0);
    --textHL: var(--base1);
    --textLL: var(--base01);
    --background: var(--base03);
    --backgroundHL: var(--base02);
}

html {
    font-family: "JetBrains Mono", monospace;
    background-color: var(--background);
    color: var(--text);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    font-size: 2dvh;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: var(--backgroundHL);
    color: var(--text);
    height: 5dvh;
}

.navLeft {
    flex: 1;
    display: flex;
    margin: 2dvw;
    gap: 2dvw;
}

.navRight {
    flex: 2;
}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 2dvw;
    gap: 2dvw;
}

.navList li {
    list-style-type: none;
    transition-duration: 0.2s
}

.navList a {
    text-decoration: none;
    color: inherit;
}

.navIcon {
    display: flex;
    align-items: center;
    gap: 0.2dvw;
    height: 1em;
    width: auto;
}

.navIcon img {
    height: inherit;
    width: inherit;
}

.navLogo {
    height: 1.3em;
    filter: drop-shadow(3px 3px 5px var(--textLL));
}

.mainContent {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.leftContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 2vw;
}

.textContainer {
    text-align: right;
    /* TODO USE THIS TO FIX TEXT WRAPPING */
    width: 90%;
}

.nameTag {
    font-size: 5dvh;
    font-weight: bolder;
    animation: opacity 1s, shadow 1s;
    filter: drop-shadow(1dvw 1dvh 10px var(--textLL)) opacity(100%);
    margin: 1em 0;
}

.summary {
    margin: 1em 0;
    animation: opacity 5s;
}

@keyframes shadow {
    0% {
        filter: drop-shadow(1dvw 1dvh 3px var(--textLL));
    }

    25% {
        filter: drop-shadow(1dvw 1dvh 3px var(--textLL));
    }

    100% {
        filter: drop-shadow(1dvw 1dvh 10px var(--textLL));
    }

}

@keyframes opacity {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }

}

@keyframes revOpacity {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }

}

.rightContent {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min-content;
    gap: 1dvh;
}

.imgRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1dvh;
}

.exampleImage {
    border-radius: 1dvw;
    filter: grayscale();
    transition-duration: 0.2s;
    width: auto;
    height: 20dvh;
}

.exampleImage:active {
    filter: contrast(50%);
    transition-duration: 0ms;
}

#summaryRow {
    background-color: var(--backgroundHL);
    width: 100%;
    border-radius: 1dvw;
    height: 0;
    transition: height 0.5s;

}

#exampleSummary {
    display: none;
    flex-direction: column;
    padding: 1.5dvh 0 1dvh;
    margin: 0 1dvw;
    font-family: "Ubuntu Sans", "PT Sans", -apple-system, system-ui,
        BlinkMacSystemFont, "Noto Sans", sans-serif;
}

#exampleSummary a {
    font-weight: bold;
    color: var(--textHL);
    margin-bottom: 0.5dvh;
}


.fadeIn {
    animation: opacity 1s;
}

.fadeOut {
    animation: revOpacity 0.5s;
}

.mobLinks {
    display: none;
}


/* FOR MOBILE */
@media (orientation: portrait) or (max-aspect-ratio: 1.05/1) {
    .navLeft {
        margin-left: 2dvw;
    }

    .leftContent {
        margin-right: 12dvw;
    }

    .mainContent {
        flex-direction: column;
    }

    .exampleImage {
        width: 25dvw;
        height: auto;
        border-radius: 2dvw;
    }
}

/* FOR MOUSE ONLY */
@media (pointer: fine) {
    .navList li:hover {
        transform: scale(1.1);
        transition-duration: 0.2s;
    }

    .exampleImage:hover {
        transform: scale(1.2);
        z-index: 1;
        position: relative;
        filter: none;
        transition-duration: 0.2s;
    }

    .imgTopL:hover {
        transform-origin: right bottom;
    }

    .imgTopC:hover {
        transform-origin: center bottom;
    }

    .imgTopR:hover {
        transform-origin: left bottom;
    }

    .imgBotL:hover {
        transform-origin: right top;
    }

    .imgBotC:hover {
        transform-origin: center top;
    }

    .imgBotR:hover {
        transform-origin: left top;
    }
}

/* for small laptop screens */
@media (orientation: landscape) and (max-height: 800px) {
    body {
        font-size: 2.5dvh;
    }

    .exampleImage {
        height: 25dvh;
        width: auto;
    }
}